<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【特别注意：sql的关键字一律小写！！尽量不使用某数据库专有的方法(项目制可按需使用)】 -->
<mapper namespace="com.gientech.sys.user.SysUserMapper">

	<!-- 查询条件置顶 -->
	<sql id="sysUserList_filter">
		<where>
			<trim suffixOverrides="and">
				<if test="dto.userId != null and dto.userId != ''">
					<![CDATA[ a.USER_ID = #{dto.userId} and ]]>
				</if>
				<!-- Add more conditions if needed -->
			</trim>
		</where>
	</sql>

	<select id="getSysUserList" resultType="com.gientech.sys.user.SysUser" parameterType="com.gientech.sys.user.SysUserDTO4List">
		SELECT
		a.USER_ID as userId,
		a.USER_NAME as userName,
		a.LOGIN_NAME as loginName,
		a.TEL as tel,
		a.PASSWORD as password,
		a.SEX as sex,
		a.ORG_ID as orgId,
		a.ORG_ADDR as orgAddr,
		a.LAW_ORG_ID as lawOrgId,
		a.ID_CARD_NO as idCardNo,
		a.ADDR as addr,
		a.EMAIL as email,
		a.TELLER_NO as tellerNo,
		a.WORKING_YEARS as workingYears,
		a.WECHAT_NO as wechatNo,
		a.ROLE_ID as roleId,
		a.ROLE_IDS as roleIds,
		a.STATUS as status,
		a.SORT_NO as sortNo,
		a.REMARK as remark,
		a.VER as ver
		FROM T_SYS_USER a
		<include refid="sysUserList_filter" />
		ORDER BY a.USER_ID
	</select>

	<select id="getSysUser" resultType="com.gientech.sys.user.SysUser" parameterType="String">
		SELECT
			a.USER_ID as userId,
			a.USER_NAME as userName,
			a.LOGIN_NAME as loginName,
			a.TEL as tel,
			a.PASSWORD as password,
			a.SEX as sex,
			a.ORG_ID as orgId,
			a.ORG_ADDR as orgAddr,
			a.LAW_ORG_ID as lawOrgId,
			a.ID_CARD_NO as idCardNo,
			a.ADDR as addr,
			a.EMAIL as email,
			a.TELLER_NO as tellerNo,
			a.WORKING_YEARS as workingYears,
			a.WECHAT_NO as wechatNo,
			a.ROLE_ID as roleId,
			a.ROLE_IDS as roleIds,
			a.STATUS as status,
			a.SORT_NO as sortNo,
			a.REMARK as remark,
			a.VER as ver
		FROM T_SYS_USER a
		WHERE a.USER_ID = #{userId}
	</select>

</mapper>