<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【特别注意：sql的关键字一律小写！！尽量不使用某数据库专有的方法(项目制可按需使用)】 -->
<mapper namespace="com.gientech.pmm.remindTemp.PmmRemindTempMapper">

    <!-- 查询条件置顶 -->
    <sql id="pmmRemindTempList_filter">
        <where>
            <trim suffixOverrides="and">
                <if test="dto.eventType != null and dto.eventType !=''">
                    <![CDATA[	a.EVENT_TYPE like #{dto.eventType} and	]]>
                </if>
                <if test="dto.eventSmallType != null and dto.eventSmallType !=''">
                    <![CDATA[	a.EVENT_SMALL_TYPE like #{dto.eventSmallType} and	]]>
                </if>
                <if test="dto.isOk != null and dto.isOk !=''">
                    <![CDATA[	a.IS_OK like #{dto.isOk} and	]]>
                </if>
            </trim>
        </where>
    </sql>

    <select id="getPmmRemindTempList" resultType="com.gientech.pmm.remindTemp.PmmRemindTempVO" parameterType="com.gientech.pmm.remindTemp.PmmRemindTempDTO4List">

        select
        a.REMIND_TEMP_ID as remindTempId,
        a.EVENT_TYPE as eventType,
        a.EVENT_SMALL_TYPE as eventSmallType,
        a.THRESHOLD_MON as thresholdMon,
        a.DAY_NUM as dayNum,
        a.REMIND_ROLE_ID as remindRoleId,
        a.IS_OK as isOk,
        a.VALID_DAY as validDay,
        a.MODIFY_USER_ID as modifyUserId,
        a.MODIFY_TIME as modifyTime,
        a.MODIFY_ORG_ID as modifyOrgId

        from T_PMM_REMIND_TEMP a

        <include refid="pmmRemindTempList_filter" />

        order by <![CDATA[	${dto.orderBy}	]]>
    </select>

</mapper>
