<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gientech.sys.bookState.SysBookStateMapper">

    <!-- 查询条件置顶 -->
    <sql id="sysBookStateList_filter">
        <where>
            <trim suffixOverrides="and">
                <if test="dto.bookId != null and dto.bookId !=''">
                    <![CDATA[ a.BOOK_ID LIKE CONCAT('%', #{dto.bookId}, '%') AND ]]>
                </if>
                <if test="dto.roleId != null and dto.roleId !=''">
                    <![CDATA[ a.ROLE_ID = #{dto.roleId} AND ]]>
                </if>
                <if test="dto.bookName != null and dto.bookName !=''">
                    <![CDATA[ a.BOOK_NAME LIKE CONCAT('%', #{dto.bookName}, '%') AND ]]>
                </if>
            </trim>
        </where>
    </sql>

    <select id="getSysBookStateList" resultType="com.gientech.sys.bookState.SysBookStateVO"
            parameterType="com.gientech.sys.bookState.SysBookStateDTO4List">
        SELECT
        a.BOOK_ID AS bookId,
        a.ROLE_ID AS roleId,
        a.BOOK_NAME AS bookName

        FROM T_SYS_BOOK_STATE a


        <include refid="sysBookStateList_filter"/>

<!--        <if test="dto.roleId != null and dto.roleId != ''">-->
<!--            AND a.ROLE_ID = #{dto.roleId}-->
<!--        </if>-->

        ORDER BY ${dto.orderBy}
    </select>

    <select id="getBookState" resultType="com.gientech.sys.bookState.SysBookStateVO"
            parameterType="java.lang.String">
        select a.BOOK_ID as bookId,
               a.ROLE_ID as roleId
        from T_SYS_BOOK_STATE a
        where a.BOOK_ID = #{bookId}
    </select>

</mapper>
